@media only screen and (max-width: 480px) {
    
    body {
        overflow-x: hidden;
    }
    
    nav .nav-links {
        list-style: none;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        background: #f1f1f1;
        position: absolute;
        top: 15%;
        right: 0;
        transform: translateX(100%);
        width: 50%;
        transition: transform .5s ease-in;
    }

    nav .nav-links li {
        display: block;
        margin: 0 0 20px 0;
        color: #24252a;
        opacity: 0;
    }

    .menu {
        display: block;
    }
}